.password-reset-card {
  max-width: 400px;
  margin: 100px 1em 1em;
}

.password-reset-form {
  min-width: 300px;
  max-width: 400px;
  width: 100%;
}

.password-reset-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.password-reset-error {
  background-color: mistyrose;
  border: 1px solid red;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 5px 20px;
  text-align: center;
}
