<div [ngClass]="{'cursor': clickable}" class="device-container mat-elevation-z1" (click)="openDetailsDialog()">
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column">
      <div class="device-name" >{{data.name}}</div>
      <div fxLayout="row">
        <div class="device-location">{{data.location}}</div>
      </div>
    </div>
    <div fxFlex></div>
    <div fxLayout="row">
      <mat-icon [color]="'warn'" [inline]="true" *ngIf="showWarningIcon()">warning</mat-icon>
      <div [class]="'status-badge-'+data.state.toLowerCase()" [matTooltip]="data.state"></div>
    </div>
  </div>
</div>
