table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-expanded-row {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):hover {
   background: #efefef;
   cursor: pointer;
}

tr.example-element-row:hover {
  cursor: pointer;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
}

.device-status-name {
  font-weight: bolder;
}

.device-column-header {
  font-weight: bolder;
}

.device-summary {
  margin: 1em;
}

.session-name {
  font-weight: bolder;
}
