<h1 mat-dialog-title>
  {{device.name}} <span fxFlex></span>  <app-live-stream-button [device]="device"></app-live-stream-button>
</h1>
<mat-dialog-content class="mat-typography">
  <div *ngIf="device.state != 'DOWN'; else down">
    <div *ngIf="device.location" fxLayout="row" fxLayoutGap="5px">
      <div class="section">Location:</div>
      <div >
        {{device.location}}
      </div>
    </div>

    <div class="section">Camera Status:</div>
    <div class="content">
      <div>
        State:<span fxFlex></span>{{device.sensor_status['camera']['recording'] ? 'recording' : 'off'}}
      </div>
      <div *ngIf="device.sensor_status['camera']['recording']">
        <div>Duration:<span fxFlex></span>{{device.sensor_status['camera']['duration'] | formatSeconds}}</div>
        <div>Frame rate:<span fxFlex></span>{{device.sensor_status['camera']['fps'] | number:'.0-1'}}</div>
      </div>
    </div>

    <div class="section">Removable Storage:</div>
    <div class="content">
      <div>Capacity:<span fxFlex></span>{{device.system_info['total_disk'] / 1024 | number:'.1-1'}} GB</div>
      <div [class]="warnings['disk_space'] ? 'warning' : ''">
        Available:<span fxFlex></span>{{device.system_info['free_disk'] / 1024 | number:'.1-1'}} GB
      </div>
    </div>

    <div class="section">System Info:</div>
    <div class="content">
      <div>Uptime:<span fxFlex></span>{{device.system_info['uptime'] | formatSeconds}}</div>
      <div>Memory (total):<span fxFlex></span>{{device.system_info['total_ram'] / 1024 / 1024 | number:'.0-1' }}GB</div>
      <div [class]="warnings['free_memory'] ? 'warning' : ''">Memory (free):<span fxFlex></span>{{device.system_info['free_ram'] / 1024 /1024| number:'.1-1' }}GB</div>
      <div>Load average:<span fxFlex></span>{{device.system_info['load'] | number:'0.0-2'}}</div>
    </div>

  </div>
  <ng-template #down>
    <p>{{device.name}} appears to be down.</p>
  </ng-template>

  <div class="last-update">Last Update: {{device.last_update | date:'medium'}}</div>

</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-stroked-button (click)="dialogRef.close()">Close</button>
</div>
